@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #34495e;
    min-height: 100%;
}

/*h1 {
    text-align: center;
    margin-top: 2em;
    color: #fff;
    font-size: 3em;
}*/

.logo {
    margin-bottom: 50px;
}

span.header {
    display: block;
    text-align: center;
    margin-top: 1.5em;
    color: #fff;
    font-size: 2.5em;
}

#content {
    margin: 70px auto 0 auto;
    width: 70%;
    height: 500px;
    background: #fff;
    border-radius: 5px;
}

#thank-you {
    padding-top: 100px;
}

#thank-you img { 
    margin-top: 30px;
}
#left {
    padding: 30px;
    background: url('images/taipei.png');
    background-size: cover;
    position: relative;
    overflow: hidden
}

#left h1 {
    font-weight: 300;
    margin-top: 30px;
}

#left ul {
    margin-top: 40px;
}

#left li {
    list-style: none;
    position: relative;
    left: -30px;
}

#left li span {
    margin-right: 10px;
}

#form {
    padding: 30px;
}

#form h1 {
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(153, 186, 221, 1);
    margin-bottom: 50px;
}

#form .input-group {
    margin-bottom: 20px !important;
}

#form input {
    border-radius: 0px;
    border-bottom: 2px solid #A9A9A9;
    border-top: none;
    border-left: none;
    border-right: none;
}

#form input:focus {
    border-bottom: 2px solid #707070;
}

#form input:focus::-webkit-input-placeholder {
    color: #707070;
}

#form input::-webkit-input-placeholder {
    color: #A9A9A9;
}

#form .input-group-addon {
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #A9A9A9;
}

#form .buttons  {
    margin-top: 70px;
}

#form button.sign-up {
    transition: background-color 0.5s ease, width 0.5s ease;
    border-radius: 23px;
    border: 2px solid rgba(153, 186, 221, 1);
    margin: 0px auto 0px auto;
    padding: 10px 20px 10px 20px;
    color: rgba(153, 186, 221, 1);
    width: 110px;
    background: #fff;
}

#form button.sign-up:hover {
    color: #fff;
    width: 150px;
    background: rgba(153, 186, 221, 1);
}

#form button.social-btn {
    transition: background-color 0.5s ease, width 0.5s ease;
    border-radius: 23px;
    border: 2px solid rgba(153, 186, 221, 1);
    color: #fff;
    line-height: 38px;
    width: 45px;
    margin: 0px 5px 0px 5px;
}

.facebook {
    background: #3B5998;
}

.facebook:hover {
    background: #fff;
    color: #3B5998 !important;
}

.twitter {
    background: #00aced;
}

.twitter:hover {
    background: #fff;
    color: #00aced !important;
}

.google {
    background: #dd4b39;
}

.google:hover {
    background: #fff;
    color: #dd4b39 !important;
}
