@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('images/skyline.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-top: 2em;
    color: #fff;
    font-size: 3em;
}

#content {
    margin: 60px auto 0 auto;
    width: 60%;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

#content p {
    text-align: center;
    padding-top: 70px;
}

#form {
    margin: 0px auto 0px auto;
    width: 70%;
}

#form input {
    margin: 15px 0px 5px 0px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #2c3e50;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(255, 255, 255, 0.6);
}

#form input:hover {
    background: rgba(255, 255, 255, 0.8);
}

#form button {
    width: 200px;
    margin: 30px auto 0px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 0px 10px 0px;
}

#form button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.col-47 {
    width: 43%;
}

.col-40 {
    width: 36%;
}

.col-54 {
    width: 50%;
}
