<div id="podcast">
    <div class="podcast-episode container">
        <h1 ng-bind="$ctrl.episode.title"></h1>
        <span class="info">{{ $ctrl.episode.date | date: 'shortDate' }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ $ctrl.episode.timeLength }}</span>

        <div class="col-md-7 mx-auto">
            <div id="podcast-content">
               {{ $ctrl.episode.description }}
            </div>

            <div id="podcast-audio">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{ $ctrl.source }}"></iframe>
            </div>
        </div>
    </div>

    <div class="container reviews">
        <h1>Reviews</h1>

        <div ng-repeat="review in $ctrl.reviews">
            <review
                review="review">
            </review>
        </div>

        <div class="review mx-auto col-md-7" ng-if="$ctrl.writeReview">
            <form>
              <div class="form-group">
                <textarea
                    class="form-control"
                    rows="3"
                    ng-model="$ctrl.description"
                    id="description"
                    name="description">
                </textarea>
              </div>
              <div class="form-group">
                Rating: 
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="$ctrl.rating"> 1
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" ng-model="$ctrl.rating"> 2
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" ng-model="$ctrl.rating"> 3
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4" ng-model="$ctrl.rating"> 4
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5" ng-model="$ctrl.rating"> 5
                </label>
              </div>
              <button
                type="submit"
                class="btn btn-default"
                ng-click="$ctrl.saveReview()">Submit</button>
            </form>
        </div>

        <div class="review mx-auto col-md-7" ng-if="!$ctrl.writeReview">
            <button
                class="btn btn-default"
                ng-click="$ctrl.writeReview = !$ctrl.writeReview">
                Write a Review
            </button>
        </div>
    </div>
</div>